[Desktop Entry]
Name=MonsterWars
Exec=MonsterWars
Icon=MonsterWars/MonsterWars.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=landscape

