[Desktop Entry]
Name=Monster Wars
Exec=MonsterWars
Icon=MonsterWars/MonsterWars.png
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-Supported-Orientations=landscape

