[Desktop Entry]
Name=Monster Wars
Exec=monsterwars
Icon=${SNAP}/meta/gui/monsterwars.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=landscape

